body{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
header, footer{
    background-color: blueviolet;
    height: 10vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
main{
    height: 80vh;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 30px;
}
div{
    padding: 20px;
}
img{
    margin-top: 20px;
    margin-bottom: 20px;
}
button{
    background-color: darkmagenta;
    border: none;
    color: white;
    height: 40px;
    width: 200px;
    font-size: 30px;
    border-radius: 15px;
}
@media screen and (min-width: 700px) {
    main{
        flex-direction:row ;
    align-items: flex-start;
    justify-content: space-around;
    
    }
    img{
        align-items: center;}
}
/*body{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
header, footer{
   height: 7vh;
   background-color: blanchedalmond;
   justify-content: center;
   display: flex;
   align-items: center;
}
main{
    height: 86vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}
img{
    margin-top: 10px;

}
div{
    padding: 0 20px;
}
button{
    width: 150px;
    height: 40px;
    background-color: brown;
    border: none;
    border-radius: 15px;
    font-size: 19px;
    color: blueviolet;
}
@media all and (min-width:650px) {
    main {
    flex-direction:row ;
    align-items: flex-start;
}
img{
    align-items: center;
}
}
